<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table">
    <thead class="thead-light">
    <tr>
        <th scope="col">序号</th>
        <th scope="col">
            <input type="checkbox"> 选择
        </th>
        <th scope="col">采购单编号</th>
        <th scope="col">采购单名称</th>
        <th scope="col">流水号</th>
        <th scope="col">通用名</th>
        <th scope="col">商品名</th>
        <th scope="col">中标价</th>
        <th scope="col">交易价</th>
        <th scope="col">采购量</th>
        <th scope="col">采购金额</th>
        <th scope="col">入库量</th>
        <th scope="col">实际交易金额</th>
        <th scope="col">发票号或入库单号</th>
        <th scope="col">药品批号</th>
        <th scope="col">药品有效期（单位：年）</th>
        <th scope="col">退货量</th>
        <th scope="col">退货金额</th>
        <th scope="col">结算金额</th>
        <th scope="col">剂型</th>
        <th scope="col">规格</th>
        <th scope="col">单位</th>
        <th scope="col">转换系数</th>
        <th scope="col">质量层次</th>
        <th scope="col">生产企业</th>
        <th scope="col">供货企业</th>
        <th scope="col">开始采购时间</th>
        <th scope="col">结束采购时间</th>
        <th scope="col">结算状态</th>
        <th scope="col">详细</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>
            <input type="checkbox">
        </td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>Jacob</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>@fat</td>
        <td>
            <div class="btn-group btn-group-xs">
                <button type="button" class="btn btn-primary">查看</button>
                <button type="button" class="btn btn-warning">修改</button>
                <button type="button" class="btn btn-danger">删除</button>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<ul class="pagination">
    <li><a href="#">&laquo;</a></li>
    <li class="active"><a href="#">1</a></li>
    <li class="disabled"><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
</ul>
</body>
</html>