<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>退货单维护</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!--采购管理-退货单创建-->
<div id="createReturnGoodsManage">
    <!--退货单创建-->
    <div class="panel panel-default">
        <div class="panel-heading">
            退货单创建
        </div>
        <div class="panel-body">
            <form class="form-horizontal" method="post">
                <div class="container">

                    <div class="row">
                        <div class="col-sm-6">



                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">退货单编号:</label>
                                <div class="col-sm-5">
                                    <input class="form-control" id="addCreditNum">
                                </div>
                                <div class="col-sm-4" ></div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">联系人:</label>
                                <div class="col-sm-5">
                                    <input class="form-control" id="addCreditContacts">
                                </div>
                                <div class="col-sm-4"></div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">退货单状态:</label>
                                <div class="col-sm-5">
                                    <select class="form-control" id="addCreditState">
                                        <option value="">全部</option>
                                        <option value="0">未提交</option>
                                        <option value="1">已提交至供货商</option>
                                    </select>
                                </div>
                                <div class="col-sm-4"></div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">备注:</label>
                                <div class="col-sm-5">
                                    <input class="form-control" id="addCreditRemark">
                                </div>
                                <div class="col-sm-4"></div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">医院名称:</label>                                <div class="col-sm-5">
                                <select class="form-control" id="addHospitalNum">

                                </select>
                            </div>
                                <div class="col-sm-4"></div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">退货单名称:</label>
                                <div class="col-sm-5">
                                    <input class="form-control" id="addCreditName">
                                </div>
                                <div class="col-sm-4"></div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">联系电话:</label>
                                <div class="col-sm-5">
                                    <input class="form-control" id="addPhone">
                                </div>
                                <div class="col-sm-4"></div>
                            </div>

                        </div>
                    </div>
                </div>
                <form class="form-horizontal" method="post">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-3">
                        <div class="btn-group-lg">
                            <button type="button" onclick="redirectionToReturnGoodsDan()" class="btn btn-default">保存退货单</button>
                            <button type="reset" class="btn btn-default">提交退货单</button>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </form>
            </form>
        </div>
    </div>
</div>

</body>
<script>

    $(function(){
        /*查询医院*/
        $.ajax({
            url:"drug/queryHospital",
            type:"post",
            dataType:"json",
            success:function (data) {
                if(data.code==200){
                    var result = data.data
                    var str = "<option value=''>全部</option>";
                    for (var i = 0; i < result.length; i++) {
                        str += "<option value=" + result[i].id + ">" + result[i].hospitalName + "</option>";
                    }
                    $("#addHospitalNum").html(str);
                }
            }
        })
    })

    /*退货单跳转页面*/
    function redirectionToReturnGoodsDan(){
        var tuihuodan = {
            hospitalNum : $("#addHospitalNum").val(),
            creditNum : $("#addCreditNum").val(),
            creditContacts : $("#addCreditContacts").val(),
            creditState : $("#addCreditState").val(),
            creditRemark : $("#addCreditRemark").val(),
            creditName : $("#addCreditName").val(),
            phone : $("#addPhone").val(),
        }

        $.ajax({
            url:"drugs/insertTuiHuoDanDto",
            type:"post",
            dataType:"json",
            data:tuihuodan,
            success:function (result) {
                if(result.code==200){
                    var data = result.data
                    alert("添加成功")
                    location.href="/drug"
                }

            }
        })

    }
</script>
</html>