<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianxi.drugs.dao.AreaManageMapper">
  <resultMap id="BaseResultMap" type="com.lianxi.drugs.pojo.AreaManage">
    <id column="area_id" jdbcType="INTEGER" property="areaId" />
    <result column="area_name" jdbcType="VARCHAR" property="areaName" />
    <result column="area_lev" jdbcType="VARCHAR" property="areaLev" />
  </resultMap>
  <sql id="Base_Column_List">
    area_id, area_name, area_lev
  </sql>

</mapper>