<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianxi.drugs.dao.CreditOrderMapper">
  <resultMap id="BaseResultMapOne" type="com.lianxi.drugs.vo.CreditOrderVO">
    <id column="co_id" jdbcType="INTEGER" property="coId" />
    <result column="co_number" jdbcType="VARCHAR" property="coNumber" />
    <result column="co_name" jdbcType="VARCHAR" property="coName" />
    <result column="hospital_id" jdbcType="INTEGER" property="hospitalId" />
    <result column="co_createtime" jdbcType="TIMESTAMP" property="coCreatetime" />
    <result column="co_inputtime" jdbcType="TIMESTAMP" property="coInputtime" />
    <result column="or_code" jdbcType="VARCHAR" property="orCode" />
    <result column="or_buyname_id" jdbcType="VARCHAR" property="orBuynameId" />
    <result column="generic_name" jdbcType="VARCHAR" property="genericName" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="reagent_type" jdbcType="VARCHAR" property="reagentType" />
    <result column="drug_size" jdbcType="VARCHAR" property="drugSize" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="transver_num" jdbcType="INTEGER" property="transverNum" />
    <result column="quality_level" jdbcType="VARCHAR" property="qualityLevel" />
  </resultMap>

  <sql id="Base_Column_List">
    co_id, co_number, co_name, hospital_id, co_contacts, co_phone, co_createpeople, co_createtime, 
    co_inputtime, co_remark, co_state
  </sql>
  <select id="selectAllCreditOrder" resultMap="BaseResultMapOne">
    select co.co_id,co_number,co_name,hospital_id,co_createtime,co_inputtime,or_code,or_buyname_id,generic_name,
    product_name,reagent_type,drug_size,company,transver_num,quality_level
    from credit_order co
    left join order_form of on of.or_id = co.co_id
    left join credit_order_info coi on coi.or_id = of.or_id
    left join drug_info di on di.drug_id = coi.drug_id
  </select>
</mapper>