<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianxi.drugs.dao.ItemMapper">
  <resultMap id="BaseResultMap" type="com.lianxi.drugs.pojo.Item">
    <id column="drug_category_id" jdbcType="VARCHAR" property="drugCategoryId" />
    <result column="drug_category_name" jdbcType="VARCHAR" property="drugCategoryName" />
    <result column="drug_category_type" jdbcType="VARCHAR" property="drugCategoryType" />
    <result column="drug_category_standard" jdbcType="VARCHAR" property="drugCategoryStandard" />
    <result column="drug_category_unit" jdbcType="VARCHAR" property="drugCategoryUnit" />
    <result column="drug_category_tran" jdbcType="INTEGER" property="drugCategoryTran" />
    <result column="drug_clazz_id" jdbcType="INTEGER" property="drugClazzId" />
    <result column="drug_category_status" jdbcType="INTEGER" property="drugCategoryStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    drug_category_id, drug_category_name, drug_category_type, drug_category_standard, 
    drug_category_unit, drug_category_tran, drug_clazz_id, drug_category_status
  </sql>
  <select id="selectAllItem" resultMap="BaseResultMap">
    select drug_category_id, drug_category_name, drug_category_type, drug_category_standard,
    drug_category_unit, drug_category_tran, drug_clazz_id, drug_category_status
    from item
  </select>









































































































































  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from item
    where drug_category_id = #{drugCategoryId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from item
    where drug_category_id = #{drugCategoryId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lianxi.drugs.pojo.Item">
    insert into item (drug_category_id, drug_category_name, 
      drug_category_type, drug_category_standard, 
      drug_category_unit, drug_category_tran, drug_clazz_id, 
      drug_category_status)
    values (#{drugCategoryId,jdbcType=VARCHAR}, #{drugCategoryName,jdbcType=VARCHAR}, 
      #{drugCategoryType,jdbcType=VARCHAR}, #{drugCategoryStandard,jdbcType=VARCHAR}, 
      #{drugCategoryUnit,jdbcType=VARCHAR}, #{drugCategoryTran,jdbcType=INTEGER}, #{drugClazzId,jdbcType=INTEGER}, 
      #{drugCategoryStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lianxi.drugs.pojo.Item">
    insert into item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="drugCategoryId != null">
        drug_category_id,
      </if>
      <if test="drugCategoryName != null">
        drug_category_name,
      </if>
      <if test="drugCategoryType != null">
        drug_category_type,
      </if>
      <if test="drugCategoryStandard != null">
        drug_category_standard,
      </if>
      <if test="drugCategoryUnit != null">
        drug_category_unit,
      </if>
      <if test="drugCategoryTran != null">
        drug_category_tran,
      </if>
      <if test="drugClazzId != null">
        drug_clazz_id,
      </if>
      <if test="drugCategoryStatus != null">
        drug_category_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="drugCategoryId != null">
        #{drugCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="drugCategoryName != null">
        #{drugCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="drugCategoryType != null">
        #{drugCategoryType,jdbcType=VARCHAR},
      </if>
      <if test="drugCategoryStandard != null">
        #{drugCategoryStandard,jdbcType=VARCHAR},
      </if>
      <if test="drugCategoryUnit != null">
        #{drugCategoryUnit,jdbcType=VARCHAR},
      </if>
      <if test="drugCategoryTran != null">
        #{drugCategoryTran,jdbcType=INTEGER},
      </if>
      <if test="drugClazzId != null">
        #{drugClazzId,jdbcType=INTEGER},
      </if>
      <if test="drugCategoryStatus != null">
        #{drugCategoryStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lianxi.drugs.pojo.Item">
    update item
    <set>
      <if test="drugCategoryName != null">
        drug_category_name = #{drugCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="drugCategoryType != null">
        drug_category_type = #{drugCategoryType,jdbcType=VARCHAR},
      </if>
      <if test="drugCategoryStandard != null">
        drug_category_standard = #{drugCategoryStandard,jdbcType=VARCHAR},
      </if>
      <if test="drugCategoryUnit != null">
        drug_category_unit = #{drugCategoryUnit,jdbcType=VARCHAR},
      </if>
      <if test="drugCategoryTran != null">
        drug_category_tran = #{drugCategoryTran,jdbcType=INTEGER},
      </if>
      <if test="drugClazzId != null">
        drug_clazz_id = #{drugClazzId,jdbcType=INTEGER},
      </if>
      <if test="drugCategoryStatus != null">
        drug_category_status = #{drugCategoryStatus,jdbcType=INTEGER},
      </if>
    </set>
    where drug_category_id = #{drugCategoryId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lianxi.drugs.pojo.Item">
    update item
    set drug_category_name = #{drugCategoryName,jdbcType=VARCHAR},
      drug_category_type = #{drugCategoryType,jdbcType=VARCHAR},
      drug_category_standard = #{drugCategoryStandard,jdbcType=VARCHAR},
      drug_category_unit = #{drugCategoryUnit,jdbcType=VARCHAR},
      drug_category_tran = #{drugCategoryTran,jdbcType=INTEGER},
      drug_clazz_id = #{drugClazzId,jdbcType=INTEGER},
      drug_category_status = #{drugCategoryStatus,jdbcType=INTEGER}
    where drug_category_id = #{drugCategoryId,jdbcType=VARCHAR}
  </update>
</mapper>