<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianxi.drugs.dao.OrderFormMapper">
  <resultMap id="BaseResultMap" type="com.lianxi.drugs.pojo.OrderForm">
    <id column="or_id" jdbcType="INTEGER" property="orId" />
    <result column="or_code" jdbcType="VARCHAR" property="orCode" />
    <result column="or_hosp_id" jdbcType="INTEGER" property="orHospId" />
    <result column="or_user_id" jdbcType="VARCHAR" property="orUserId" />
    <result column="or_buyname_id" jdbcType="VARCHAR" property="orBuynameId" />
    <result column="or_createTime" jdbcType="TIMESTAMP" property="orCreatetime" />
    <result column="or_updateTime" jdbcType="TIMESTAMP" property="orUpdatetime" />
    <result column="or_submitTime" jdbcType="TIMESTAMP" property="orSubmittime" />
    <result column="or_remark" jdbcType="VARCHAR" property="orRemark" />
    <result column="or_type" jdbcType="INTEGER" property="orType" />
    <result column="or_auditor" jdbcType="INTEGER" property="orAuditor" />
    <result column="or_auditOpinion" jdbcType="VARCHAR" property="orAuditopinion" />
    <result column="or_AuditTime" jdbcType="TIMESTAMP" property="orAuditTime" />
    <result column="or_state" jdbcType="INTEGER" property="orState" />
  </resultMap>

  <resultMap id="BaseResultMapOne" type="com.lianxi.drugs.pojo.OrderForm">
    <id column="or_id" jdbcType="INTEGER" property="orId" />
    <result column="or_code" jdbcType="VARCHAR" property="orCode" />
    <result column="or_buyname_id" jdbcType="VARCHAR" property="orBuynameId" />
    <result column="or_hosp_id" jdbcType="INTEGER" property="orHospId" />
    <result column="or_createTime" jdbcType="TIMESTAMP" property="orCreatetime" />
    <result column="or_submitTime" jdbcType="TIMESTAMP" property="orSubmittime" />
    <collection property="drugInfoList" ofType="com.lianxi.drugs.pojo.DrugInfo">
      <result column="generic_name" property="genericName"/>
      <result column="product_name" property="productName"/>
      <result column="reagent_type" property="reagentType"/>
      <result column="company" property="company"/>
      <result column="drug_size" property="drugSize"/>
      <result column="transver_num" property="transverNum"/>
      <result column="factory_name" property="factoryName"/>
    </collection>
    <collection property="orderlistInfoList" ofType="com.lianxi.drugs.pojo.OrderlistInfo">
      <result column="order_biddingPrice" property="orderBiddingprice"/>
      <result column="order_TradingPrice" property="orderTradingprice"/>
      <result column="order_buyPrice" property="orderBuyprice"/>
      <result column="order_buyCount" property="orderBuycount"/>
      <result column="order_buyState" property="orderBuystate"/>
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    or_id, or_code, or_hosp_id, or_user_id, or_buyname_id, or_createTime, or_updateTime,
    or_submitTime, or_remark, or_type, or_auditor, or_auditOpinion, "or_AuditTime",
    or_state
  </sql>
  
  <select id="selectAllOrder" resultMap="BaseResultMapOne">
    select or_id,or_code,or_buyname_id,or_hosp_id,or_createTime,or_submitTime,generic_name,product_name,reagent_type,
    drug_size,company,transver_num,order_biddingPrice,order_TradingPrice,order_buyCount,order_buyPrice,factory_name,order_buyState
    from order_form of
    left join orderlist_info oi on of.or_id = oi.order_id
    left join drug_info di on di.drug_id = oi.drug_id
  </select>



</mapper>