<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianxi.drugs.dao.OrderlistInfoMapper">
  <resultMap id="BaseResultMap" type="com.lianxi.drugs.pojo.OrderlistInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="drug_id" jdbcType="INTEGER" property="drugId" />
    <result column="supplier_id" jdbcType="INTEGER" property="supplierId" />
    <result column="order_biddingPrice" jdbcType="REAL" property="orderBiddingprice" />
    <result column="order_TradingPrice" jdbcType="REAL" property="orderTradingprice" />
    <result column="order_buyCount" jdbcType="INTEGER" property="orderBuycount" />
    <result column="order_buyPrice" jdbcType="REAL" property="orderBuyprice" />
    <result column="order_buyState" jdbcType="INTEGER" property="orderBuystate" />
    <result column="order_state" jdbcType="INTEGER" property="orderState" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_id, drug_id, supplier_id, order_biddingPrice, order_TradingPrice, order_buyCount,
    order_buyPrice, order_buyState, order_state
  </sql>
  <resultMap id="BaseResultMapOne" type="com.lianxi.drugs.vo.OrderlistVO">
    <id column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="supplier_id" jdbcType="INTEGER" property="supplierId" />
    <result column="or_hosp_id" jdbcType="INTEGER" property="orHospId" />
    <result column="or_code" jdbcType="VARCHAR" property="orCode" />
    <result column="or_buyname_id" jdbcType="VARCHAR" property="orBuynameId" />
    <result column="order_buyState" jdbcType="INTEGER" property="orderBuystate" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="input_time" jdbcType="TIMESTAMP" property="inputTime" />
    <result column="or_createTime" jdbcType="TIMESTAMP" property="orCreatetime" />
    <result column="or_submitTime" jdbcType="TIMESTAMP" property="orSubmittime" />
    <result column="or_AuditTime" jdbcType="TIMESTAMP" property="orAuditTime" />
    <result column="order_buyPrice" jdbcType="REAL" property="orderBuyprice" />
  </resultMap>
  <select id="selectAllOrderInfo" resultMap="BaseResultMap">
    select order_id,or_hosp_id,supplier_id,or_code,or_buyname_id,order_buyState,create_time,input_time,
    or_createTime,or_submitTime,or_AuditTime,order_buyPrice
    from orderlist_info oi
    left join order_form of on of.or_id = oi.order_id
    left join payoff_tab pt on of.or_id = pt.payoff_tab_id
  </select>

</mapper>