<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianxi.drugs.dao.OrderFormMapper">
  <resultMap id="BaseResultMap" type="com.lianxi.drugs.pojo.OrderForm">
    <id column="or_id" jdbcType="INTEGER" property="orId" />
    <result column="or_code" jdbcType="VARCHAR" property="orCode" />
    <result column="or_hosp_id" jdbcType="INTEGER" property="orHospId" />
    <result column="or_user_id" jdbcType="VARCHAR" property="orUserId" />
    <result column="or_buyname_id" jdbcType="VARCHAR" property="orBuynameId" />
    <result column="or_createTime" jdbcType="TIMESTAMP" property="orCreatetime" />
    <result column="or_updateTime" jdbcType="TIMESTAMP" property="orUpdatetime" />
    <result column="or_submitTime" jdbcType="TIMESTAMP" property="orSubmittime" />
    <result column="or_remark" jdbcType="VARCHAR" property="orRemark" />
    <result column="or_type" jdbcType="INTEGER" property="orType" />
    <result column="or_auditor" jdbcType="INTEGER" property="orAuditor" />
    <result column="or_auditOpinion" jdbcType="VARCHAR" property="orAuditopinion" />
    <result column="or_Audit time" jdbcType="TIMESTAMP" property="orAuditTime" />
    <result column="or_state" jdbcType="INTEGER" property="orState" />
  </resultMap>
  <sql id="Base_Column_List">
    or_id, or_code, or_hosp_id, or_user_id, or_buyname_id, or_createTime, or_updateTime,
    or_submitTime, or_remark, or_type, or_auditor, or_auditOpinion, "or_Audit time",
    or_state
  </sql>

</mapper>