<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianxi.drugs.dao.PayoffTabInfoMapper">
  <resultMap id="BaseResultMap" type="com.lianxi.drugs.pojo.PayoffTabInfo">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="drug_info_id" jdbcType="INTEGER" property="drugInfoId" />
    <result column="payoff_tab_id" jdbcType="INTEGER" property="payoffTabId" />
    <result column="payoff_count" jdbcType="INTEGER" property="payoffCount" />
    <result column="payoff_price" jdbcType="REAL" property="payoffPrice" />
  </resultMap>

</mapper>