<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianxi.drugs.dao.PayoffTabMapper">
  <resultMap id="BaseResultMap" type="com.lianxi.drugs.pojo.PayoffTab">
    <id column="payoff_tab_id" jdbcType="INTEGER" property="payoffTabId" />
    <result column="payoff_tab_num" jdbcType="VARCHAR" property="payoffTabNum" />
    <result column="payoff_tab_name" jdbcType="VARCHAR" property="payoffTabName" />
    <result column="hospital_id" jdbcType="VARCHAR" property="hospitalId" />
    <result column="contacts" jdbcType="VARCHAR" property="contacts" />
    <result column="contacts_phone" jdbcType="VARCHAR" property="contactsPhone" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="input_time" jdbcType="TIMESTAMP" property="inputTime" />
    <result column="payoff_tab_postil" jdbcType="VARCHAR" property="payoffTabPostil" />
    <result column="payoff_tab_status" jdbcType="INTEGER" property="payoffTabStatus" />
    <result column="payoff_price" jdbcType="REAL" property="payoffPrice" />
  </resultMap>
  <sql id="Base_Column_List">
    payoff_tab_id, payoff_tab_num, payoff_tab_name, hospital_id, contacts, contacts_phone, 
    create_time, input_time, payoff_tab_postil, payoff_tab_status, payoff_price
  </sql>
  <resultMap id="BaseResultMapOne" type="com.lianxi.drugs.vo.PayoffTabVO">
    <id column="rank" jdbcType="INTEGER" property="Rank" />
    <result column="payoff_tab_id" jdbcType="INTEGER" property="payoffTabId" />
    <result column="payoff_tab_num" jdbcType="VARCHAR" property="payoffTabNum" />
    <result column="payoff_tab_name" jdbcType="VARCHAR" property="payoffTabName" />
    <result column="hospital_name" jdbcType="VARCHAR" property="hospitalName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="input_time" jdbcType="TIMESTAMP" property="inputTime" />
    <result column="or_code" jdbcType="VARCHAR" property="orCode" />
    <result column="or_buyname_id" jdbcType="VARCHAR" property="orBuynameId" />
    <result column="generic_name" jdbcType="VARCHAR" property="genericName" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="reagent_type" jdbcType="VARCHAR" property="reagentType" />
    <result column="drug_size" jdbcType="VARCHAR" property="drugSize" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="transver_num" jdbcType="INTEGER" property="transverNum" />
    <result column="quality_level" jdbcType="VARCHAR" property="qualityLevel" />

    <result column="factory_name" jdbcType="VARCHAR" property="factoryName" />
    <result column="order_biddingPrice" jdbcType="REAL" property="orderBiddingprice" />
    <result column="order_TradingPrice" jdbcType="REAL" property="orderTradingprice" />
    <result column="order_buyCount" jdbcType="INTEGER" property="orderBuycount" />
    <result column="order_buyPrice" jdbcType="REAL" property="orderBuyprice" />
  </resultMap>

  <select id="selectAllPayoffTab" resultMap="BaseResultMapOne">
    select a.*,@rank:=@rank+1 as rank
		from (select distinct pti.id,pt.payoff_tab_id,pt.payoff_tab_num,pt.payoff_tab_name,hp.hospital_name,pt.create_time,pt.input_time,of.or_code,
    of.or_buyname_id,di.generic_name,di.product_name,di.reagent_type,di.drug_size,di.company,di.transver_num,di.quality_level,
    di.factory_name,oli.order_biddingPrice,oli.order_TradingPrice,oli.order_buyCount,oli.order_buyPrice,pti.drug_info_id
    from payoff_tab pt
    left join order_form of on of.or_code = pt.payoff_tab_num
	left join orderlist_info oli on of.or_id = oli.order_id
    left join payoff_tab_info pti on pti.payoff_tab_id = pt.payoff_tab_id
    left join drug_info di on di.drug_id = pti.drug_info_id
    left join hospital hp on of.or_hosp_id= hp.hospital_id
    left join credit_order_info coi on coi.or_id = of.or_id
    where payoff_tab_status = 1 and coi_state = 0
    order by pti.id) as a,
		(select @rank:=0) b
  </select>
  <update id="updatePayoffTab" parameterType="java.util.List">
    update payoff_tab set payoff_tab_status=2
    where payoff_tab_num in
    <foreach collection="list" open="(" close=")" separator="," item="payoffTabNum">
      #{payoffTabNum}
    </foreach>
  </update>

  <insert id="createJieSuanDan" parameterType="com.lianxi.drugs.pojo.PayoffTab">
        insert into payoff_tab  (payoff_tab_num,payoff_tab_name,contacts,contacts_phone,create_time,
        input_time,payoff_tab_postil,payoff_tab_status)
         values
         (#{payoffTabNum},#{payoffTabName},#{contacts},#{contactsPhone},#{createTime},#{inputTime},
         #{payoffTabPostil},#{payoffTabStatus})
  </insert>
</mapper>