<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianxi.drugs.dao.PurchaseMapper">
  <resultMap id="BaseResultMap" type="com.lianxi.drugs.pojo.Purchase">
    <id column="payoff_tab_id" jdbcType="INTEGER" property="payoffTabId" />
    <result column="payoff_tab_num" jdbcType="INTEGER" property="payoffTabNum" />
    <result column="payoff_tab_name" jdbcType="VARCHAR" property="payoffTabName" />
    <result column="hospital_id" jdbcType="INTEGER" property="hospitalId" />
    <result column="examine" jdbcType="VARCHAR" property="examine" />
    <result column="examine_end" jdbcType="INTEGER" property="examineEnd" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="input_time" jdbcType="TIMESTAMP" property="inputTime" />
    <result column="examine_time" jdbcType="TIMESTAMP" property="examineTime" />
    <result column="payoff_tab_status" jdbcType="INTEGER" property="payoffTabStatus" />
    <result column="hospital_name" jdbcType="VARCHAR" property="hospitalName" />
  </resultMap>

  <insert id="caiGouDanMapper" parameterType="com.lianxi.drugs.dto.CaiGouDanDto">
    insert into purchase (hospital_id,hospital_name,payoff_tab_num,payoff_tab_name,start_time,
    end_time,create_time,input_time,examine_time,examine_end,payoff_tab_status)
    values
    (#{hospitalId},#{hospitalName},#{payoffTabNum},#{payoffTabName},#{startTime},#{endTime},
    #{createTime},#{inputTime},#{examineTime},#{examineEnd},#{payoffTabStatus})
  </insert>

  <delete id="toDeleteCaiGouDan" parameterType="java.lang.Integer">
      delete from purchase where  payoff_tab_id = #{payoffTabId}
  </delete>

    <select id="findCaiGouDanByIdEcho" parameterType="java.lang.Integer" resultMap="BaseResultMap">
      select * from purchase where payoff_tab_id = #{payoffTabId}
  </select>








  <sql id="Base_Column_List">
    payoff_tab_id, payoff_tab_num, payoff_tab_name, hospital_id, examine, examine_end,
    start_time, end_time, create_time, input_time, examine_time, payoff_tab_status, hospital_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'true' as QUERYID,
    <include refid="Base_Column_List" />
    from purchase
    where payoff_tab_id = #{payoffTabId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from purchase
    where payoff_tab_id = #{payoffTabId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lianxi.drugs.pojo.Purchase">
    insert into purchase (payoff_tab_id, payoff_tab_num, payoff_tab_name,
      hospital_id, examine, examine_end,
      start_time, end_time, create_time,
      input_time, examine_time, payoff_tab_status,
      hospital_name)
    values (#{payoffTabId,jdbcType=INTEGER}, #{payoffTabNum,jdbcType=INTEGER}, #{payoffTabName,jdbcType=VARCHAR},
      #{hospitalId,jdbcType=INTEGER}, #{examine,jdbcType=VARCHAR}, #{examineEnd,jdbcType=INTEGER},
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP},
      #{inputTime,jdbcType=TIMESTAMP}, #{examineTime,jdbcType=TIMESTAMP}, #{payoffTabStatus,jdbcType=INTEGER},
      #{hospitalName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lianxi.drugs.pojo.Purchase">
    insert into purchase
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="payoffTabId != null">
        payoff_tab_id,
      </if>
      <if test="payoffTabNum != null">
        payoff_tab_num,
      </if>
      <if test="payoffTabName != null">
        payoff_tab_name,
      </if>
      <if test="hospitalId != null">
        hospital_id,
      </if>
      <if test="examine != null">
        examine,
      </if>
      <if test="examineEnd != null">
        examine_end,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="inputTime != null">
        input_time,
      </if>
      <if test="examineTime != null">
        examine_time,
      </if>
      <if test="payoffTabStatus != null">
        payoff_tab_status,
      </if>
      <if test="hospitalName != null">
        hospital_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="payoffTabId != null">
        #{payoffTabId,jdbcType=INTEGER},
      </if>
      <if test="payoffTabNum != null">
        #{payoffTabNum,jdbcType=INTEGER},
      </if>
      <if test="payoffTabName != null">
        #{payoffTabName,jdbcType=VARCHAR},
      </if>
      <if test="hospitalId != null">
        #{hospitalId,jdbcType=INTEGER},
      </if>
      <if test="examine != null">
        #{examine,jdbcType=VARCHAR},
      </if>
      <if test="examineEnd != null">
        #{examineEnd,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="inputTime != null">
        #{inputTime,jdbcType=TIMESTAMP},
      </if>
      <if test="examineTime != null">
        #{examineTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payoffTabStatus != null">
        #{payoffTabStatus,jdbcType=INTEGER},
      </if>
      <if test="hospitalName != null">
        #{hospitalName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lianxi.drugs.pojo.Purchase">
    update purchase
    <set>
      <if test="payoffTabNum != null">
        payoff_tab_num = #{payoffTabNum,jdbcType=INTEGER},
      </if>
      <if test="payoffTabName != null">
        payoff_tab_name = #{payoffTabName,jdbcType=VARCHAR},
      </if>
      <if test="hospitalId != null">
        hospital_id = #{hospitalId,jdbcType=INTEGER},
      </if>
      <if test="examine != null">
        examine = #{examine,jdbcType=VARCHAR},
      </if>
      <if test="examineEnd != null">
        examine_end = #{examineEnd,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="inputTime != null">
        input_time = #{inputTime,jdbcType=TIMESTAMP},
      </if>
      <if test="examineTime != null">
        examine_time = #{examineTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payoffTabStatus != null">
        payoff_tab_status = #{payoffTabStatus,jdbcType=INTEGER},
      </if>
      <if test="hospitalName != null">
        hospital_name = #{hospitalName,jdbcType=VARCHAR},
      </if>
    </set>
    where payoff_tab_id = #{payoffTabId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lianxi.drugs.pojo.Purchase">
    update purchase
    set payoff_tab_num = #{payoffTabNum,jdbcType=INTEGER},
      payoff_tab_name = #{payoffTabName,jdbcType=VARCHAR},
      hospital_id = #{hospitalId,jdbcType=INTEGER},
      examine = #{examine,jdbcType=VARCHAR},
      examine_end = #{examineEnd,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      input_time = #{inputTime,jdbcType=TIMESTAMP},
      examine_time = #{examineTime,jdbcType=TIMESTAMP},
      payoff_tab_status = #{payoffTabStatus,jdbcType=INTEGER},
      hospital_name = #{hospitalName,jdbcType=VARCHAR}
    where payoff_tab_id = #{payoffTabId,jdbcType=INTEGER}
  </update>
</mapper>