<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianxi.drugs.dao.PurchaseMapper">
  <resultMap id="BaseResultMap" type="com.lianxi.drugs.pojo.Purchase">
    <id column="payoff_tab_id" jdbcType="INTEGER" property="payoffTabId" />
    <result column="payoff_tab_num" jdbcType="INTEGER" property="payoffTabNum" />
    <result column="payoff_tab_name" jdbcType="VARCHAR" property="payoffTabName" />
    <result column="hospital_id" jdbcType="INTEGER" property="hospitalId" />
    <result column="examine" jdbcType="VARCHAR" property="examine" />
    <result column="examine_end" jdbcType="INTEGER" property="examineEnd" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="input_time" jdbcType="TIMESTAMP" property="inputTime" />
    <result column="examine_time" jdbcType="TIMESTAMP" property="examineTime" />
    <result column="payoff_tab_status" jdbcType="INTEGER" property="payoffTabStatus" />
    <result column="hospital_name" jdbcType="VARCHAR" property="hospitalName" />
  </resultMap>
  <sql id="Base_Column_List">
    payoff_tab_id, payoff_tab_num, payoff_tab_name, hospital_id, examine, examine_end, 
    start_time, end_time, create_time, input_time, examine_time, payoff_tab_status, hospital_name
  </sql>

</mapper>