<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lianxi.drugs.dao.supplierDrugMenuMapper">
  <resultMap id="BaseResultMap" type="com.lianxi.drugs.pojo.supplierDrugMenu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="drug_id" jdbcType="VARCHAR" property="drugId" />
    <result column="origanzition_control_status" jdbcType="VARCHAR" property="origanzitionControlStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, company_id, drug_id, origanzition_control_status
  </sql>
  <insert id="insertDrugs" parameterType="java.util.List">
    insert into supplier_drug_menu(company_id,drug_id,origanzition_control_status)
    values
        <foreach collection="list" open="(" close=")" separator="),(" item="drugId">
          1,#{drugId},1
        </foreach>
  </insert>

  <delete id="deleteDrugs" parameterType="java.util.List">
    Delete from supplier_drug_menu
    where company_id=1 and drug_id=
    <foreach collection="list" separator=",drug_id=" item="drugId">
      #{drugId}
    </foreach>
  </delete>
</mapper>